<!-- Home.ejs -->

  <%- include('header') %>

<body>
    <center>This is our home page.</center>
    <button class="px-4 py-2 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition">
  Save Changes
</button>
<button class="btn btn-primary">One</button>
<button class="btn btn-secondary">Two</button>
<button class="btn btn-accent btn-outline">Three</button>
    <h1 class="text-3xl font-bold underline">
        Hello world!
    </h1>
</body>
</html>